<table class="table table-hover">
  <thead>
    <tr>
      <th>Build</th>
      <th>Who</th>
      <th>What</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Output</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% deployments.reverse.each do |deployment| %>
    <tr>
      <td><%= deployment.build_number %></td>
      <td><%= deployment.who %></td>
      <td class="console"><%= deployment.cmd %></td>
      <td class='date'><%= Time.parse(deployment.started).strftime('%A, %d %b %Y %l:%M %p') %></td>
      <td class='date'><%= deployment.ended.nil? ? 'running' : Time.parse(deployment.ended).strftime('%l:%M %p') %></td>
      <td><a href="/deployment/<%= deployment.build_number %>">View</a></td>
      <td>
        <% unless deployment.ended.nil? %>
          <a class="btn btn-xs btn-danger" href="/delete/<%= deployment.build_number %>">Delete</a>
        <% end %>
      </td>
    </td>
  <% end %>
  </tbody>
</table>
