<table class="table table-striped">
  <thead>
    <tr>
      <th>Build</th>
      <th>Who</th>
      <th>What</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Output</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% deployments.reverse.each_with_index do |d,i| %>
    <tr>
      <td><%= d.build_number %></td>
      <td><%= d.who %></td>
      <td class="console"><%= d.cmd %></td>
      <td class='date'><%= Time.parse(d.started).strftime('%A, %d %b %Y %l:%M %p') %></td>
      <td class='date'><%= d.ended.nil? ? 'running' : Time.parse(d.ended).strftime('%l:%M %p') %></td>
      <td><a href="/deployment/<%= d.build_number %>">View</a></td>
      <td>
        <% unless d.ended.nil? %>
          <a href="/delete/<%= d.build_number %>">Delete</a>
        <% end %>
      </td>
    </td>
  <% end %>
  </tbody>
</table>
