<table class="table table-hover">
  <thead>
    <tr>
      <th>Build</th>
      <th>Who</th>
      <th>What</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Output</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% deployments.reverse.each do |deployment| %>
    <%
        css = if deployment.running?
                'warning'
              elsif deployment.successful?
                'success'
              else
                'danger'
              end
    %>
    <tr class="<%= css %>">
      <td><%= deployment.build_number %></td>
      <td><%= deployment.who %></td>
      <%# TODO font %>
      <td class="console"><%= deployment.cmd %></td>
      <td class='date'><%= Time.parse(deployment.started).strftime('%A, %d %b %Y %l:%M %p') %></td>
      <td class='date'><%= deployment.running? ? 'running' : Time.parse(deployment.ended).strftime('%l:%M %p') %></td>
      <td><a href="/deployment/<%= deployment.build_number %>">View</a></td>
      <td>
        <% unless deployment.running? %>
          <a class="btn btn-xs btn-info" href="/delete/<%= deployment.build_number %>">Delete</a>
        <% else %>
          <a class="btn btn-xs btn-danger disabled" href="/stop/<%= deployment.build_number %>">Stop</a>
        <% end %>
      </td>
    </td>
  <% end %>
  </tbody>
</table>
